@model VkazoMaterial.Models.Size
@using VkazoMaterial.Resources

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink(AppResource.Edit, "Edit", new { id = Model.Id }) |
    @Html.ActionLink(AppResource.BackToList, "Index")
</p>
